:root {
    --color1:#D3E5FF;
    --color2:#00c38c;
    --color3:#010935;
    --fondo:#ffff;
    --titulos:40px;
    --margenes:10px;
    --espacios:15px;
    --espacios-contenido:45px;
  }
.container-img {
    display: flex;
    justify-content: space-between;
    margin-top: -4%;
    margin-left: 10%;
    margin-right: 10%
    
    
}