
.container-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 9%;
    padding-left: 9%;
}

.ContainerPrincipal {
    
}
  @media (max-width:500px) {
    .container-img {
        flex-direction: column;
        padding-right: 1%;
        padding-left: 1%;
        width: 100%;
    }
    
  }
  