
.team {
    width: 100%;
    height: 600px;
}

.fondo {
    width: 100%;
    height: 600px;
    background-image: url('../../logos/Home_1200_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* .textos{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-40%); 
    width: 100%;
    color:  #fff;
    text-align: center;
    height: 100px;
} */

@media (max-width: 1085px) {
    .fondo {
        height: 900px;
        background-size: contain;
    }
}

@media (max-width: 420px) {
    .fondo {
        background-image: none;
        height: auto;
        padding-bottom: 70%;

    }
    body {
        background-image: url('../../logos/Home_376.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
