.footer {
  display: flex;
  flex-direction: column;
  background: #010935;
  height: auto;
  width: 100%; 
  padding: 3%;  
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer3 {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: flex-start;
  padding-left: 10%;
}

.imgF {
  margin-bottom: 5%;
  width: 134px;
  height: 45px
}

.parte1 {
  font-size: 15px;
  color: white;
  text-decoration: none;
  line-height: 7px;
}


.cuadro  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: flex-start;
  align-content: flex-end;
  color: white;
  flex: 3;
  padding-top: 5%;
  padding-right: 4%;
  line-height: 3px;
 
 }

.linea{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
}

.CajaTitulo {
  padding-bottom: 3%;
}

.CajaTitulo3 {
  padding-bottom: 3%;
}

.linea {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  margin-top: 3%;                                     
}

.redes {
  display: flex;
  flex-direction: row;
}

.red {
  height: 32px;
  width: 31px;
  border-radius: 30%;
  background-color: #010935; 
  padding-right: 2%;  
}

.red img {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  letter-spacing: 2px; 
}

.derechos {
  display: flex;
  width: 100%;
  justify-content: center;
  color: aliceblue;
  margin-top: 1%;
  font-size: 11px;
}


@media (max-width:500px) {
  .footer {
    flex-direction: column;
  }

  .footer2 {
    flex-direction: column;
 
  }

  .footer3 {
    display: flex;
    flex-direction: column; 
    padding-left: none;
    padding-left: 7%;
  }
  
  .parte1 {
    font-size: 10px;
    margin-left: -4;
  }

  .CajaTexto0 {
    font-size: 15px;
  }

  .derechos {
    text-align: center;
    margin-top: 5%;
  }

  .cuadro { 
    flex-direction: column;
    justify-content: space-around;
    flex: 7;
    padding: 2% 7%;
    font-size: 16px;
  }
  
  .CajaTitulo {
    padding-top: 4%;
    padding-bottom: 1px;
  }
  
  .CajaTitulo3 {
    padding-top: -1%;
    padding-bottom: 1px
  }

  .red img {
    width: 40px;
    height: 40px;
    letter-spacing: 3px; 
  }

  .red {
    height: 50px;
    width: 48px;
  }

  .derechos {
    margin-top: 2%;
    font-size: 11px;
    margin-bottom: 1%;
  }

  .footer2 {
    height:40%;
  }

  .linea {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    margin-top: -4%;                                     
  }

}
