:root {
  --color1:#D3E5FF;
  --color2:#00c38c;
  --color3:#010935;
  --fondo:#ffff;
  --titulos:40px;
  --margenes:60px;
  --espacios:15px;
  --espacios-contenido:45px;
}

body {
  font-family: 'open sams';
  background: var(--fondo);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
