:root {
    --color1:#D3E5FF;
    --color2:#00c38c;
    --color3:#010935;
    --fondo:#ffff;
    --titulos:40px;
    --margenes:10px;
    --espacios:15px;
    --espacios-contenido:45px;
  }


.formula {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #172158;
    height: 350px;
}

.formulario3 {
    display: flex;
    flex-direction: column;
    width: 100%;
 }


.FormParte1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    padding: 5px 5px 5px 0px;
}

.FormParte2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 5px 5px 5px 0px;
    
}


.form1 {
    width: 50%;
    margin-right: 30px;
}

.form2 {
    width: 20%;
    margin-right: 30px;
}

.ButtonTranportado {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-right: 30%;
}

.ButtoT {
    background: linear-gradient(to right,
    rgb(0, 122, 205),
    rgb(0, 255, 119)
    );
    width: 14%;
    height: 50px;
    color: white;
    margin-bottom: 2%;
}

.ButtonClickt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin-top: 4%;
    letter-spacing: 2px;
}

.titulotrn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: #fff;
    background: #172158;
    padding-top: 1px;
    font-size: 50px;
    letter-spacing: 3px;
    color: #FFF;
    font-weight: 900;
    margin-left: 4%;
}

.PruebaTranportador {
    color: rgb(198, 211, 22);
    margin-left: 13%;
    font-size: 20px;
    letter-spacing: 1px;
}

